{% extends 'base.html' %}
{% block contents %}
{% for i in orders %}
  <div class="border border-dark mx-auto w-50 p-3 mb-5">
  <p>Order ID:{{i.order_id}}</p>
  <p>Ordered On:{{i.ordered_date}}</p>
  <p>Amount:{{i.amount}}</p>
  <p>Delivery status:{{i.delivery_status}}</p>
  {% for j in i.products.all %}
    <div class="mt-5 mx-auto">
    <div class="card" style="width: 18rem;">
      <img src="{{j.product.image.url}}" class="card-img-top" height="250px" width="100%" alt="...">
      <div class="card-body">
        <p class="card-text">{{j.product.name}}</p>
        <p class="card-text">Rs {{j.product.price}}</p>
        <p class="card-text">Quantity:{{j.quantity}}</p>
      </div>
    </div>
      </div>
  {% endfor %}
    </div>
{% endfor %}
{% endblock %}