{% extends 'base.html' %}
{% block contents %}
<!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{{product.category.name}}</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
<!--   Start About Page-->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{{product.image.url}}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">{{product.name}}</h2>
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>{{product.price}}</p>
                    <p>Currently &nbsp <span class="text-danger">{{product.stock}}</span>&nbsp pieces available</p>
                    <p>{{product.description}}</p>
                    {% if user.is_superuser %}
                    <a class="btn hvr-hover" href="{% url 'shop:addstock' product.id %}">Add Stock</a>
                    {% else %}
                        {% if product.stock > 0 %}
					<a class="btn hvr-hover" href="{% url 'cart:addcart' product.id %}">Add to cart</a>
                        {% else %}
                    <h3 class="text-danger">Out of stock</h3>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}